@model IEnumerable<StoreWithCart.Models.StockItem>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <form asp-action="AddItemToCart" method="POST">
                        <button class="add-item-to-cart-button" type="submit" />
                        <input type="hidden" name="id" value="@item.Id" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
