@model IEnumerable<StoreWithCart.Models.StockItem>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/shared/_Layout.cshtml";
}

<h1>Store Items</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
             <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <form asp-action="AddItemToCart" method="POST">
                    <button class="add-item-to-cart-button" type="submit">Add Item To Cart</button>
                    <input type="hidden" name="id" value="@item.Id" />
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
<h1>Cart</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Quantity
            </th>
            <th>
                Cost
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{decimal total = 0;}
        @foreach (var item in Model)
        {
            @if (item.QuantityInCart > 0)
            {
                total = total + item.Price * item.QuantityInCart;
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuantityInCart)
                    </td>
                    <td>
                        @(item.Price * item.QuantityInCart)
                    </td>
                    <td>
                        <form asp-action="RemoveItemFromCart" method="POST">
                            <button class="add-item-to-cart-button" type="submit">Remove Item From Cart</button>
                            <input type="hidden" name="id" value="@item.Id" />
                        </form>
                    </td>
                </tr>
            }
        }
        <tr>
            <td>
            </td>
            <td>
                Total:
            </td>
            <td>
                @total
            </td>
        </tr>

    </tbody>
</table>
